.shop-container{
    display: grid;
    grid-template-columns: 4fr  1fr;
 
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    margin: 50px;
   
}
.btn-procced{
    width: 90%;
    background-color: #ff9900;
    color: white;
    margin: 10px auto ;
    height: 56px;
    border-radius: 4px;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}