.cart{
    background: rgba(255, 153, 0, 0.3);
    position: sticky;
    top: 0;
    padding: 30px;
    font-size: 18px;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 8px;
}
.cart-header{
    text-align: center;
}
.btn-clear-cart{
    width: 90%;
    background-color: #ff3030;
    color: white;
    margin: 10px auto ;
    height: 56px;
    border-radius: 4px;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}