nav {
  background-color: #1c2b35;
  margin: 0;
  padding: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a { 
  margin-left: 25px;
  padding: 10px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;

  color: #ffffff;
}
nav a:hover{
    color: darkolivegreen;
}
